/AppBinaries/*
/src/build/*
/deploy_app_linux.sh
/src/.qtcreator/*
/appDir/AppRun/*
/appDir/AppRun/*
/appDir/*
/installer/packages/com.rbt.qtjsonviewer/data/*
!/installer/packages/com.rbt.qtjsonviewer/data/.gitkeep
/installer/output/*
!/installer/output/.gitkeep
